body {
    background-color: #000;
    text-align: center;
    font-family: 'Merriweather', serif;
    

}
hr{
    width: 70%;
        margin-left: auto;
        margin-right: auto;
  background-color: #2C394B;
}

h1{
    margin: 50px auto 0 auto ;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #fff;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffff;
}

h3{
    font-family: 'Montserrat', sans-serif;
    
    color:#00B8FC;
}

.top-container{
    position: relative;
    padding-top: 100px;
} 

.middle-container{
   color:#fff;
}

.bottom-container{
   color:#11999E;
   line-height: 5;
   
}
.footer-link{
    text-decoration: none;
    font-family: 'Montserrat', 'sans serif';
    color: #00B8FC;
    font-weight: 800;
    margin-left: 20px;
    line-height: 3;
    
}

.btn {

    text-decoration: none;
    font-family: 'Montserrat', 'sans serif';
    color: #00B8FC;
    font-weight: 800;
    
}
.top-cloud{
    position: absolute;
    height: 120px;
    right: 280px;
    top: 80px;
}

.shroud-logo{
    margin-bottom: 80px;
    height: 400px;
}
.Skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row{
   margin-bottom: 100px;
}
.image1{
    width: 50%;
    float: left;
    margin-right: 30px;
    left: 300;

    
}
.image2{
    width: 50%;
    float:right;
    margin-right: 30px;
}

.last-col{
    font-family: 'Montserrat', 'sans serif';
    font-weight: bold;
    background-color: #fff;
    color: #000;
}





